.home {
    background-image: url('/Appsus/assets/imgs/danielle-macinnes-IuLgi9PWETU-unsplash.jpg');
    max-width: 100%;
    height: calc(100vh - 160px);
    background-size: cover;
    color: white;
    
    /* filter: grayscale(0%); */
    /* filter: contrast(1.5); */
/* filter: blur(10px) */


}