header {
  background-color: rgb(255, 255, 255);
  height: 80px;
}

header nav,
header nav ul {
  height: 100%;
}

header a {
  color: black;
}

a:hover {
  border-bottom: 2px solid rgb(178, 208, 255);
}

li a.active {
  border-bottom: 2px solid rgb(178, 208, 255);
}
