.home {
  background-image: url('/Appsus/assets/imgs/pexels-pixabay-373076.jpg');
  max-width: 100%;
  height: calc(100vh - 160px);
  background-size: cover;
  background-position: center;

  color: white;
  
  /* filter: grayscale(0%); */
  /* filter: contrast(1.5); */
/* filter: blur(10px) */


}