.note-create {
  /* border-top: 1px solid black; */
  padding-top: 10px;
  background-color: #fff;
  border: 1px solid red;
  flex-direction: column;
}

.note-create input {
  outline: none;
  border: none;
}

.note-create input {
  text-align: center;
}

/* .note-create input:focus {
  outline: none;
} */

.note-create button {
  /* background-color: #fff; */
  /* background-color: red; */
  color: #777;
  background-color: white;
  outline: none;
  border: none;
  background-image: url();
}

.note-create button i:hover {
  color: black;
}

.note-btn {
  font-size: 2rem;
  /* padding: 15px 0; */
  padding: 0.5rem;
}

.note-btn-container:not(:last-child) {
  margin-right: 1.5rem;
}

.note-input-container,
.note-control-panel {
  margin: 0 auto;
}

/* MEDIUM */
@media (min-width: 640px) {
  .note-create {
    flex-direction: row;
  }
}
