.note-create {
  /* border-top: 1px solid black; */
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0.5rem 0;
  background-color: #fff;
  /* border: 1px solid red; */
  flex-direction: column;
  border-radius: 3px;
  box-shadow: 0 0 5px #7a7a7a;
}

.note-create input {
  outline: none;
  border: none;
  caret-color: blue;
}

.note-create input {
  text-align: center;
  font-size: 1.5rem;
}

/* .note-create input:focus {
    outline: none;
  } */

.note-create button {
  /* background-color: #fff; */
  /* background-color: red; */
  color: #777;
  background-color: white;
  outline: none;
  border: none;
  background-image: url();
  height: 100%;
}

/* .note-btn-container :hover {
    background-color: rgb(196, 53, 53);
  } */

.note-create button i:hover {
  color: black;
}
/* 
  .note-create button i:active {
    color: black;
  } */

.note-btn {
  font-size: 2rem;
  /* padding: 15px 0; */
  padding: 0.5rem;
}

.note-btn-container:not(:last-child) {
  margin-right: 1.5rem;
}

/* .note-input-container,
  .note-control-panel {
    margin: 0 auto;
  } */

/* MEDIUM */
@media (min-width: 640px) {
  .note-create {
    flex-direction: row;
  }
}
