.note-preview {
  /* height: 100px; */
  width: 100%;
  min-height: 100px;
  background-color: rgb(14, 67, 138);
  color: white;
  padding: 10px;
  border-radius: 3px;
}

.note-preview [contentEditable] {
  outline: none;
}

.note-preview button {
  background-color: rgb(14, 67, 138);
  outline: none;
  border: none;
}

.note-preview-control-panel i {
  font-size: 0.9rem;
  color: #fff;
}

.note-preview-control-panel i:hover {
  background-color: rgb(31, 94, 177);
}

.note-preview img {
  width: 100%;
}

.note-preview input {
  color: #fff;
  background-color: inherit;
  border: none;
  outline: none;
}

.note-preview ::placeholder {
  color: #fff;
}

.note-todo-list button {
  color: rgb(253, 90, 90);
}

.note-todo-list .done {
  text-decoration: line-through;
}

/* .note-todo-item:hover {
  color: black;
} */

.note-edit-control-panel {
  /* background-color: red; */
  /* border: 1px solid red; */
}

.note-edit-control-panel input {
  border: 2px solid #202124;
  padding: 5px 5px;
  margin-bottom: 10px;
  width: 100%;
}

.note-edit-control-panel button {
  border: 2px solid #202124;
  color: #fff;
  padding: 5px 5px;
  width: 40%;

  /* color: #fff; */
  /* background-color: inherit; */
  /* border: none; */
  /* outline: none; */
}
