.note-list-container {
  /* display: flex;
  flex-wrap: wrap; */
  column-count: 1;

  /* display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 10px; */
  /* margin: 0 auto; */
  margin-bottom: 50px;
}

.note-list h3 {
  color: white;
  margin-bottom: 10px;
}

/* MEDIA QUERIES */
/* MEDIUM */
@media (min-width: 640px) {
  .note-list-container {
    column-count: 2;
  }
}

/* LARGE */
@media (min-width: 900px) {
  .note-list-container {
    column-count: 3;
  }
}

/* X-LARGE */

@media (min-width: 1200px) {
  .note-list-container {
    column-count: 4;
  }
}
